<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
</head>
<body> {
  background-color: lightblue;
}

<h1> {
  color: white;
  text-align: center;
} </h1>

<p> {
  font-family: verdana;
  font-size: 20px;
} </p>


</body>
</html>
