body{
  background-color: lightblue;
  font-family: "Lato", sans-serif;
}

h1, .info, .text-block {
  font-family: "Lato", sans-serif;
}

h1 {
  background-color: black;
  color: white;
  font-size: 1rem; 
  text-transform: lowercase;
  text-shadow: 5px 5px 5px rgba(255, 0, 0, 0.6);
  padding: Content;
}

.info {
  padding: 20px;
  background-color: None;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}
.info:hover {
  opacity: 1;
}
.image-principale {
  text-align: left;
  margin: 0; 
  color: white;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px;
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}
